<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Car Inventory</title>
  </head>
  <body>
    <h1>Car Inventory</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Colour</th>
        <th>Quantity</th>
      </tr>
      <% cars.forEach(car => { %>
        <tr>
          <td><%= car.id %></td>
          <td><%= car.make %></td>
          <td><%= car.model %></td>
          <td><%= car.year %></td>
          <td><%= car.colour %></td>
          <td><%= car.quantity %></td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>
